.header {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.leftHeader {
    width: 8%;
    height: 100%;
    text-align: left;
}

.leftHeader img {
    width: 100%;
    height: 100%;
}

.middleHeader div {
    height: 100%;
    width: 25%;
    padding-top: 1%;
    margin-left: 5%;
}

.middleHeader .bolded {
    font-weight: bold;
}

.middleHeader .fainted {
    color:rgb(180, 180, 180);
}

.middleHeader .magnifyingGlass {
    width: 10%;
    margin-left: 0%;
}

.middleHeader .magnifyingGlass i {
    padding-top:8%;
}

.middleHeader {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    border-radius: 5px;
    border-width: 1px;
    width: 20%;
}

.middleHeader, .rightHeader{
    height: 65%;
    font-size: 8px;
    cursor: pointer;
}

